
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktails, height: 300, crop: :fill %>')">
<%# <%= cl_image_path @cocktails.photo.key, height: 300, crop: :fill %> 

  </div>

